
.ecommerce-aplication{
  margin: 0.5rem;
}
.categories{
  display:flex
}

.category-item{
  background-color: #efeff0;
  cursor: pointer;
  font-weight: 700;
  margin: 2px;
  padding: 12px;
}
.category-item:hover {
  background-color: #bdbdc1;
  color: white;
}

.selected-category-item{
  background-color: #bdbdc1;
}

.products{
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
}

.product-list{
  margin: 8px;
  width: 100%;
}

.product{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.product-img {
  margin-bottom: auto;
  margin-top: auto;
  max-height: 300px;
  object-fit: contain;
  width: 100%;
}

.product-title {
  overflow: hidden;
  padding-top: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 600px){
  .product-list {
    width: calc(33% - 16px);
  }
}

.product-details-container {
  display: flex;
  align-items: center;
  padding: 20px;
}

.title-container {
  flex: 1;
  padding-top: 0.5rem;

}
.title-container h1 {
 margin-top: -15rem;


}
.title-container p {
  flex: 1;
  padding-top: 10rem;

}

.product-details-image {
  flex: 1;
  text-align: right;
  height: 10%;
}

.product-details-image img {
  max-width: 65%;
  margin: 70px;
  height:auto;
}

@media (max-width: 768px) {
  .product-details-container {
    flex-direction: column;
  }

  .product-details-image {
    text-align: center;
  }

  .product-details-image img {
    max-width: 90%;
    margin: 20px;
  }
  .title-container {
    padding-top: 0rem;
  
  }
  .title-container h1 {
   margin-top: 0rem;
  
  
  }
  .title-container p {
    padding-top: 0rem;
  
  }
}





